* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Image HTML to CSS */

.imgtocss {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.imgtocss img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  background-color: #76c7c0;
}

.header-ruler {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: -o-repeating-linear-gradient(left, #6ab3ad, #6ab3ad 1px, transparent 1px, transparent 5px);
  background-image: repeating-linear-gradient(90deg, #6ab3ad, #6ab3ad 1px, transparent 1px, transparent 5px);
}

.header-ruler:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #6ab3ad;
}

.header-ruler:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 8px;
  background-image: -o-repeating-linear-gradient(left, transparent, transparent 10px, #6ab3ad 10px, #6ab3ad 12px, transparent 12px, transparent 25px);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 10px, #6ab3ad 10px, #6ab3ad 12px, transparent 12px, transparent 25px);
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header-block__logo {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  z-index: 11;
  font-size: 25px;
  line-height: 27px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.header-block__logo--bold {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

.header-block__sandwich {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 11;
  cursor: pointer;
}

.header-block__sandwich div:nth-of-type(1) {
  position: absolute;
  width: 70%;
  height: 6px;
  top: 0;
  right: 0;
  background: #fff;
}

.header-block__sandwich div:nth-of-type(2) {
  position: absolute;
  width: 100%;
  height: 2px;
  top: calc(50% + 1px);
  left: 0;
  background: #fff;
}

.header-block__sandwich div:nth-of-type(3) {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fff;
}

.header-block__menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100%;
  z-index: 9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.9);
}

.header-block__menu-block--visible {
  left: 0%;
}

.header-block__menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 80px 0 0;
  overflow: auto;
}

.header-block__menu-item {
  width: 100%;
  position: relative;
}

.header-block__search-img {
  width: 30px;
  height: 30px;
}

.header-block__menu-item a {
  font-family: OpenSans, sans-serif;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 25px;
  width: 100%;
  text-align: center;
}

.header-block a {
  text-decoration: none;
  color: #fff;
}

footer {
  position: relative;
  min-height: 350px;
  width: 100%;
  background-color: #76c7c0;
}

.footer-ruler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: -o-repeating-linear-gradient(left, #91d2cd, #91d2cd 2px, transparent 2px, transparent 10px);
  background-image: repeating-linear-gradient(90deg, #91d2cd, #91d2cd 2px, transparent 2px, transparent 10px);
}

.footer-ruler:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #91d2cd;
}

.footer-ruler:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 17px;
  background-image: -o-repeating-linear-gradient(left, transparent, transparent 19px, #91d2cd 19px, #91d2cd 24px, transparent 24px, transparent 50px);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 19px, #91d2cd 19px, #91d2cd 24px, transparent 24px, transparent 50px);
}

.footer-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 48px 0 50px;
}

.footer-content__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0 0 45px;
}

.footer-content__logo {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  margin: -6px 0 18px 0;
}

.footer-content__logo--bold {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

.footer-content__slogan {
  max-width: 370px;
  margin: 0 0 25px 0;
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.footer-content__tel {
  margin: 0 0 12px 0;
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.footer-content__tel a {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: Italic;
  text-decoration: none;
  margin: 0 0 0 20px;
}

.footer-content__email {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.footer-content__email a {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: Italic;
  text-decoration: none;
  margin: 0 0 0 21px;
}

.footer-content__title h4 {
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  color: #3b6360;
  margin: 0 0 24px;
}

.footer-content__list {
  margin: 0 0 0 38px;
  list-style: none;
  list-style-image: url("../img/list-style.png");
}

.footer-content__list-item {
  margin: 0 0 5px;
}

.footer-content__list-item a {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.footer-content__ftb-title h4 {
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: Italic;
  margin: 0 0 20px;
}

.footer-content__ftb-title h4 span {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 700;
  font-style: normal;
}

.footer-content__ftb-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content__ftb-column a {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  text-decoration: none;
  cursor: pointer;
}

.footer-content__ftb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 20px;
}

.footer-content__ftb-item:nth-of-type(2) {
  margin: 0;
}

.footer-content__ftb-picture {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 18px 0 0;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  overflow: hidden;
}

.footer-content__ftb-picture img {
  -webkit-object-fit: cover;
       -o-object-fit: cover;
          object-fit: cover;
  -webkit-object-position: 50% 50%;
       -o-object-position: 50% 50%;
          object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.footer-content__ftb-text {
  max-width: 331px;
  color: #ffffff;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.footer-content__ftb-text p:nth-of-type(2) {
  color: #3b6360;
}

.subfooter {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #6ab3ad;
  height: 50px;
  width: 100%;
}

.subfooter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.copyrights {
  color: #fff;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  line-height: 50px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.social-links__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links a {
  background-color: transparent;
}

.social-links__item + .social-links__item {
  margin-left: 15px;
}

.social-links__item:nth-of-type(1) img {
  width: 20px;
  height: 33px;
  padding: 5px;
}

.social-links__item:nth-of-type(2) img {
  width: 32px;
  height: 33px;
  padding: 5px;
}

.social-links__item:nth-of-type(3) img {
  width: 27px;
  height: 32px;
  padding: 5px;
}

.social-links__item:nth-of-type(4) img {
  width: 32px;
  height: 31px;
  padding: 5px;
}

.go-up-btn {
  position: fixed;
  z-index: 1000;
  bottom: 55px;
  right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  color: #f3f3f3;
  background-color: #76c7c0;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s, opacity 0.2s;
  -o-transition: visibility 0.2s, opacity 0.2s;
  transition: visibility 0.2s, opacity 0.2s;
}

.go-up-btn p {
  font-family: OpenSans;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  margin-top: 15px;
}

.show-go-up-btn {
  opacity: 0.9;
  visibility: visible;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2");
  src: url("../fonts/OpenSans-Italic.woff") format("woff");
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: Italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2");
  src: url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: Italic;
}

body {
  font-family: OpenSans, sans-serif;
  width: 100%;
  padding: 60px 0 0;
  background: #f3f3f3;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
  max-height: 100%;
}

.main-slider-container {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-slider-container__pictures-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 500px;
  position: relative;
  left: 0vw;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  max-width: 100%;
}

.main-slider-container__pic-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 500px;
}

.main-slider-container__indicators {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider-container__indicators-container {
  width: 210px;
  height: 15px;
  position: relative;
  margin: 0 auto;
  background: #b0b8b9;
}

.main-slider-container__ind-item {
  width: 70px;
  height: 15px;
  background: transparent;
  border: solid 5px #f3f3f3;
}

.main-slider-container__ind-item-train {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 15px;
  background: #e2534b;
  border: solid 5px #b0b8b9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main-slider-container__ind-item-windows {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-slider-container__buttons {
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-slider-container a {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.main-slider-container__left-btn,
.main-slider-container__right-btn {
  background: #e8645a;
  width: 50px;
  position: relative;
  z-index: 9;
  cursor: pointer;
  opacity: 1;
}

.main-slider-container__left-btn img,
.main-slider-container__right-btn img {
  position: absolute;
  left: calc(50% - 11px);
  top: calc(50% - 11px);
}

.main-slider-container__left-btn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.main-slider-container__right-btn {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.main-slider-container__faded-btn {
  opacity: 0.2;
}

.main-slider-container__title-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main-slider-container__title h1 {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 5px 10px;
  text-align: center;
  background: #e2534b;
  color: #fff;
  border-radius: 5px;
  font-family: OpenSans;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
}

.main-slider-container__slogan {
  max-width: 310px;
  text-align: center;
  background: #797979;
  color: #fff;
  border-radius: 5px;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  padding: 5px 0px;
}

.main-slider-container:hover .main-slider-container__title-block {
  opacity: 0.1;
}

.top-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ececec;
  border-radius: 5px;
  padding: 24px 35px 22px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-services__text {
  text-align: center;
  color: #777777;
  font-family: OpenSans;
  font-size: 13px;
  line-height: 20.8px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.top-services__text h2 {
  color: #7f8c8c;
  font-family: OpenSans;
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
}

.top-services__button-block {
  margin: 20px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-services a {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.top-services__button {
  background: #e8645a;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  background-color: #e8635a;
  -webkit-box-shadow: 0 3px #e2534b;
          box-shadow: 0 3px #e2534b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.top-services__button:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0 0 transparent;
          box-shadow: 0 0 transparent;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits-container__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: unset;
  min-height: 310px;
  margin: 0 0 76px;
}

.benefits-container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 50px 20px;
  -webkit-box-shadow: 0 3px #e5e6e6;
          box-shadow: 0 3px #e5e6e6;
  position: relative;
  width: 100%;
  height: 100%;
}

.benefits-container a {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.benefits-container__button {
  text-align: center;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  bottom: -23px;
  left: calc(50% - 100px);
  background: #76c7c0;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px #62b9b0;
          box-shadow: 0 3px #62b9b0;
}

.benefits-container__card:before {
  border-radius: 5px;
  content: '';
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: -23px;
  left: calc(50% - 100px);
  background: #cbcdcd;
}

.benefits-container__button:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  background: #e8645a;
  -webkit-box-shadow: 0 0 #62b9b0;
          box-shadow: 0 0 #62b9b0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.benefits-container__card:hover .benefits-container__picture {
  -webkit-filter: invert(54%) sepia(52%) saturate(6810%) hue-rotate(337deg) brightness(99%) contrast(80%);
          filter: invert(54%) sepia(52%) saturate(6810%) hue-rotate(337deg) brightness(99%) contrast(80%);
}

.benefits-container__picture {
  max-width: 60px;
  max-height: 60px;
  margin: 0 0 17px;
  -webkit-filter: invert(66%) sepia(91%) saturate(206%) hue-rotate(131deg) brightness(88%) contrast(87%);
          filter: invert(66%) sepia(91%) saturate(206%) hue-rotate(131deg) brightness(88%) contrast(87%);
}

.benefits-container__title h3 {
  color: #7f8c8c;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 36px;
}

.benefits-container__text {
  color: #777777;
  font-family: OpenSans;
  font-size: 13px;
  line-height: 20.8px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.bg-insert {
  width: 100%;
  height: 400px;
  background: #ececec;
  position: relative;
  padding: 58px 0 0;
  margin: 0 0 750px;
}

.bg-insert__ruler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: -o-repeating-linear-gradient(left, #f3f3f3, #f3f3f3 2px, transparent 2px, transparent 10px);
  background-image: repeating-linear-gradient(90deg, #f3f3f3, #f3f3f3 2px, transparent 2px, transparent 10px);
}

.bg-insert__ruler:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f3f3f3;
}

.bg-insert__ruler:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 17px;
  background-image: -o-repeating-linear-gradient(left, transparent, transparent 19px, #f3f3f3 19px, #f3f3f3 24px, transparent 24px, transparent 50px);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 19px, #f3f3f3 19px, #f3f3f3 24px, transparent 24px, transparent 50px);
}

.pictures-in-windows__title h2 {
  margin: 0 0 5px;
  text-align: center;
  color: #e1524b;
  font-family: OpenSans;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

.pictures-in-windows__subtitle {
  margin: 0 0 67px;
  text-align: center;
  color: #777777;
  font-family: OpenSans;
  font-size: 13px;
  line-height: 20.8px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.pictures-in-windows__windows-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.pictures-in-windows__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0 auto 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  position: relative;
}

.pictures-in-windows__item > div {
  background: #b0b8b9;
  border-radius: 8px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 259px;
  width: 100%;
}

.pictures-in-windows__item > div a {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  width: 100%;
  height: 100%;
}

.pictures-in-windows__top-panel {
  width: 100%;
  height: 42px;
  padding: 14px 14px 14px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pictures-in-windows__top-panel-left-part {
  background: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: relative;
}

.pictures-in-windows__top-panel-left-part:before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  background: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.pictures-in-windows__top-panel-left-part:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  background: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.pictures-in-windows__top-panel-right-part {
  background: #fff;
  width: 12px;
  height: 6px;
  border-radius: 3px;
}

.pictures-in-windows__picture {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.statistics {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
}

.statistics-block {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistics-block__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.why-us-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why-us-block__title h4 {
  color: #7f8c8c;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
  margin: 0 0 37px 0;
}

.why-us-block__list {
  color: #777777;
  font-family: OpenSans;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  list-style-image: url("../img/list-style-2.png");
  list-style-position: inside;
}

.diagrams-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0 0;
}

.diagrams-block__text {
  color: #777777;
  font-family: OpenSans;
  margin: 0 0 58px;
  font-size: 13px;
  line-height: 24.7px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
}

.diagrams-block__text a {
  color: #e1524b;
}

.diagrams-block__diagrams-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.diagrams-block__diagrams-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin: 0 0 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diagrams-block__diagram-container {
  position: relative;
  margin: 0 auto 20px;
  overflow: hidden;
  width: 120px;
  height: 60px;
  text-align: center;
}

.diagrams-block__diagram-container span {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: calc(50% - 60px);
  color: #7f8c8c;
  width: 120px;
  font-family: OpenSans;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
}

.diagrams-block__diagram:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #76c7c0;
  width: 120px;
  height: 60px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  z-index: 1;
}

.diagrams-block__diagram {
  position: absolute;
  background: #e2534b;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  z-index: 2;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.14, 0.35, 0, 0.74);
       -o-transition-timing-function: cubic-bezier(0.14, 0.35, 0, 0.74);
          transition-timing-function: cubic-bezier(0.14, 0.35, 0, 0.74);
}

.diagrams-block__diagram:after {
  content: '';
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  background: #f3f3f3;
  width: 90px;
  height: 90px;
  border-radius: 120px;
  z-index: 3;
}

.diagrams-block__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  text-align: center;
  color: #7f8c8c;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
}

.clients-say-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients-say-block__title h4 {
  color: #7f8c8c;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
  margin: 0 0 23px 0;
}

.clients-say-block__comment {
  position: relative;
  color: #777777;
  background: #f8f8f8;
  font-family: OpenSans;
  font-size: 13px;
  line-height: 24.7px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  padding: 16px;
}

.clients-say-block__comment span {
  font-size: 13px;
  line-height: 24.7px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: Italic;
}

.clients-say-block__comment:after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 20px;
  width: 24px;
  height: 24px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  background: #f8f8f8;
}

.clients-say-block__sign {
  color: #777777;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 30.4px;
  letter-spacing: 0;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 0 59px;
}

.clients {
  width: 100%;
  position: relative;
  margin: 0 0 50px 0;
}

.clients-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.clients-navigation-container__title h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  color: #7f8c8c;
  margin: 0 0 20px;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 800;
  font-style: normal;
}

.clients-navigation-container__level {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
  width: 100%;
  margin: 0 0 20px;
}

.clients-navigation-container__level:after {
  content: '';
  position: absolute;
  background: #e1e2e2;
  width: 100%;
  height: 2px;
  top: calc(50% - 1px);
  left: 0;
}

.clients-navigation-container__position {
  position: absolute;
  background: #e1e2e2;
  width: 8px;
  height: 8px;
  top: calc(50% - 4px);
  right: 0;
  border-radius: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.clients-navigation-container__buttons-block {
  width: 100%;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-navigation-container__buttons-block a:hover {
  border-radius: 5px;
  background-color: #64a29e;
  -webkit-box-shadow: 0 3px #538b86;
          box-shadow: 0 3px #538b86;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.clients-navigation-container__buttons-block a:active {
  border-radius: 5px;
  background-color: #e8645a;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0 0 transparent;
          box-shadow: 0 0 transparent;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.clients-navigation-container__left-button,
.clients-navigation-container__right-button {
  width: 40px;
  height: 40px;
  background: #98a3a3;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px #7f8c8c;
          box-shadow: 0 3px #7f8c8c;
  position: relative;
  opacity: 1;
  cursor: pointer;
}

.clients-navigation-container__left-button img,
.clients-navigation-container__right-button img {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 6px);
}

.clients-navigation-container__faded-btn {
  opacity: 0.2;
}

.clients-pictures-container {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-pictures-container__screen {
  width: 170px;
  height: 90px;
  position: relative;
}

.clients-pictures-container__pictures {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.clients-pictures-container__item {
  border-radius: 5px;
  width: 170px;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.clients-pictures-container__item + .clients-pictures-container__item {
  margin-left: 10px;
}

.clients-pictures-container__item a {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  width: 100%;
  height: 100%;
}

.clients-pictures-container__item img {
  -webkit-object-fit: contain;
       -o-object-fit: contain;
          object-fit: contain;
  -webkit-object-position: 50% 50%;
       -o-object-position: 50% 50%;
          object-position: 50% 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.clients-pictures-container__item:hover img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media only screen and (min-width: 712px) {
  .footer-content__item:nth-of-type(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer-content__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer-content__slogan {
    font-size: 13px;
    line-height: 23.4px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
  }

  .footer-content__tel {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
  }

  .footer-content__email {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
  }

  .footer-content__company-community {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0 0 0 50px;
  }

  .footer-content__list-item a {
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    margin: 0;
  }

  .footer-content__from-the-blog {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .main-slider-container__title h1 {
    max-width: 345px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0;
    font-weight: 800;
    font-style: normal;
  }

  .main-slider-container__slogan {
    max-width: 470px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    padding: 5px 0px;
  }

  .top-services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 24px 35px 22px 28px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .top-services__text {
    text-align: unset;
    margin: 0 20px 0 0;
  }

  .top-services__text h2 {
    margin: 0;
  }

  .top-services__button-block {
    margin: 0;
  }

  .benefits-container__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }

  .bg-insert {
    margin: 0 0 120px;
  }

  .pictures-in-windows__windows-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .pictures-in-windows__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 370px;
  }

  .statistics-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .why-us-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .diagrams-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .diagrams-block__diagrams-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }

  .diagrams-block__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }

  .clients-say-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    height: 80px;
  }

  .header-block {
    height: 80px;
  }

  .header-block__sandwich {
    display: none;
  }

  .header-block__menu-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: unset;
    right: unset;
    background: unset;
    width: unset;
    height: 100%;
    left: unset;
  }

  .header-block__menu-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: unset;
    right: unset;
    margin: unset;
    overflow: unset;
  }

  .header-block__menu-item {
    border: unset;
    display: block;
  }

  .header-block__search-img {
    width: 13px;
    height: 13px;
  }

  .header-block__menu-item a:hover {
    border-radius: 5px;
    background-color: #64a29e;
    -webkit-box-shadow: 0 3px #538b86;
            box-shadow: 0 3px #538b86;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .header-block__menu-item a:active {
    border-radius: 5px;
    background-color: #e8645a;
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-box-shadow: 0 0 transparent;
            box-shadow: 0 0 transparent;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }

  .header-block__menu-item a {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 600;
    font-style: normal;
    padding: 0px 20px;
    width: 'unset';
  }

  .footer-content__item:nth-of-type(3) {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }

  .footer-content__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 34%;
            flex: 0 0 34%;
  }

  .footer-content__company-community {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.1%;
            flex: 0 0 17.1%;
    padding: 0;
  }

  .footer-content__from-the-blog {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.8%;
            flex: 0 0 31.8%;
  }

  body {
    padding: 80px 0 0;
  }

  .benefits-container__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }

  .bg-insert {
    margin: 0 0 205px;
  }

  .pictures-in-windows__item:nth-of-type(1) > div {
    position: absolute;
    top: 60px;
    left: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 4;
  }

  .pictures-in-windows__item:nth-of-type(1):hover > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 360px;
    width: 570px;
    background: #b0b8b9;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4px;
    z-index: 5;
  }

  .pictures-in-windows__item:nth-of-type(2) > div {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 5;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 4;
  }

  .pictures-in-windows__item:nth-of-type(2):hover > div {
    position: absolute;
    top: 0px;
    right: calc(50% - 285px);
    height: 360px;
    width: 570px;
    background: #b0b8b9;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4px;
    z-index: 5;
  }

  .pictures-in-windows__item:nth-of-type(3) > div {
    position: absolute;
    top: 60px;
    right: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 4;
  }

  .pictures-in-windows__item:nth-of-type(3):hover > div {
    position: absolute;
    top: 0;
    right: 0;
    height: 360px;
    width: 570px;
    background: #b0b8b9;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4px;
    z-index: 5;
  }

  .statistics {
    margin: 0;
  }

  .why-us-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }

  .clients-navigation-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .clients-navigation-container__title h4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.8%;
            flex: 0 0 12.8%;
    margin: 0;
  }

  .clients-navigation-container__level {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    margin: 0;
  }

  .clients-navigation-container__buttons-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.6%;
            flex: 0 0 8.6%;
  }
}

@media only screen and (min-width: 1280px) {
  .diagrams-block {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .clients-say-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}